* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
h5{
    text-align: center;
    color: white;
}

body {
    background: linear-gradient(rgb(223, 219, 216), rgb(171, 157, 157));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    padding: 20px;
    border: 2px solid black;
    border-radius: 16px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.3);
}

input {
    width: 320px;
    padding: 20px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.4);
    font-size: 60px;
    text-align: right;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

input::placeholder {
    color: white;
}

button {
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    cursor: pointer;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    font-weight: 15px;
    box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.3);

}
.equalto{
    background-color: orange;

}
button:hover{
    background-color: orange;
    color: white;
    
}
.operator{
    color: orange;
}